<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="tcxmlplugin.PerspectiveTcXmlFactory"
            icon="icons/firefox_16x16.png"
            id="tcxmlplugin.perspective1"
            name="tcxm.mainPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="tcxmlplugin.TcXmlExplorer.id">
      </viewer>
      <viewerContentBinding
            viewerId="tcxmlplugin.TcXmlExplorer.id">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="tcxmlplugin.commonFilter1">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="tcxmlplugin.TcXmlExplorer.id">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.OpenActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            class="tcxmlplugin.nature.NatureTcXmlFilter"
            id="tcxmlplugin.commonFilter1"
            name="nature tcxml filter">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="tcxmlplugin.wizzard.ProjectTcxmlWizzard"
            finalPerspective="tcxmlplugin.perspective1"
            id="tcxmlplugin.wizard1"
            name="name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="tcxmlplugin.TcXmlExplorer"
            id="tcxmlplugin.TcXmlExplorer.id"
            name="tcxml explorer view"
            restorable="true">
      </view>
   </extension>
   <extension
         id="tcxml.natureid"
         name="tcxml nature id"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="tcxmlplugin.nature.NatureTcXml">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/firefox_16x16.png"
            id="tcxmlplugin.natureimage1"
            natureId="tcxml.natureid">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="tcxmlplugin.editor.TcXmlEditor"
            default="false"
            icon="icons/hammer.png"
            id="tcxmlplugin.editor1"
            name="tc xml editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:tcxmlplugin.TcXmlExplorer.id?after=additions">
         <menu
               id="tcxml.menu.id"
               label="tcxml">
            <command
                  commandId="tcxmlplugin.addtest"
                  label="add test"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="tcxmlplugin.addtest"
            name="add test">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="tcxmlplugin.TcXmlDecorator"
            id="tcxmlplugin.decorator"
            label="tcxml resource decorator "
            objectClass="org.eclipse.core.resources.IFolder"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="tcxmlplugin.handler.addTestCaseHandler"
            commandId="tcxmlplugin.addtest">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <test
                        args="tcxmlplug.folderType,testcaseRootFolder"
                        property="org.eclipse.core.resources.persistentProperty">
                  </test>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="tcxmlplugin.composite.preference.TcXmlPreference"
            id="tcxmlplugin.preferencepage"
            name="tcxml preference">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="tcxmlplugin.composite.preference.PreferenceInitializerTcXml">
      </initializer>
   </extension>

</plugin>
